// bower:scss
// endbower
@font-face {
  src: url("../fonts/Intro.otf");
  font-family: Intro;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/IntroRustG-Base2Line.otf");
  font-family: "Intro Rust G - Base 2 Line";
  font-weight: 400;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.h-top {
  display: block;
  padding: 290px 0 260px 0;
  background: url('../images/top_bg.png') no-repeat center bottom;
  background-size: 100% auto;
  &__title {
    display: block;
    margin: 0 auto 130px auto;
    color: #ffffff;
    font-family: Intro, sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 240px;
    margin-bottom: 25px;
    text-align: center;
    &-image {
      display: block;
      max-width: 100%;
      margin-bottom: 16px;
    }
    &-title {
      display: block;
      color: #feffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@keyframes pulse {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.9;
    text-shadow: 0 0 80px #ffffff, 0 0 37px rgba(0, 234, 255, 0.59), 0 0 12px rgba(0, 234, 255, 0.59);
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.3;
    text-shadow: none;
  }
}

.h-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 28px 0;
  background: rgba(10, 35, 69, 0.85);
  z-index: 99;
  &__logo {
    display: inline-block;
    max-width: 100%;
    text-shadow: 0 0 37px rgba(0, 234, 255, 0.59);
    color: #00eaff;
    font-family: "Intro Rust G - Base 2 Line", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    span:nth-child(1) {
      animation: pulse 12s linear infinite;
    }
    span:nth-child(2) {
      animation: pulse 6s linear infinite;
    }
    span:nth-child(3) {
      animation: pulse 20s linear infinite;
    }
  }
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__space {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: none;
    padding: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.8);
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    a {
      display: inline-block;
      padding: 8px 4px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #00eaff;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    span {
      margin-right: 16px;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #00eaff;
      text-decoration: none;
    }
  }
}

.h-about {
  display: block;
  padding: 90px 0 60px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #3e3e3e;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__sub-title {
    display: block;
    margin: 0 0 16px 0;
    color: #000000;
    font-family: Intro, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.4px;
  }
  p {
    display: block;
    max-width: 465px;
    margin: 0 0 40px 0;
    opacity: 0.7;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 430px;
    margin-top: 30px;
  }
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 210px;
    min-height: 145px;
    margin-bottom: 8px;
    padding: 20px 6px;
    border-radius: 10px;
    background-color: #ededed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    &-title {
      display: block;
      margin: 0;
      color: #5c5c5c;
      font-family: Intro, sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      text-align: center;
    }
  }
}

.h-services {
  display: block;
  padding: 90px 0 70px 0;
  background: url('../images/services_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 100px auto;
    color: #ffffff;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 260px;
    margin-bottom: 30px;
    text-align: center;
    &-image {
      display: block;
      max-width: 100%;
      margin-bottom: 30px;
    }
    &-title {
      display: block;
      margin: 0 0 14px 0;
      color: #00eaff;
      font-family: Intro, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }
  }
}

.h-catalog {
  display: block;
  padding: 90px 0 70px 0;
  background: #f6f6f6;
  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #3e3e3e;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    box-shadow: 6px 22px 29px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #ffffff;
    &-image {
      display: block;
      width: 100%;
      max-width: 310px;
      height: 265px;
      padding: 15px 20px 30px 20px;
      object-fit: contain;
    }
    &-content {
      display: block;
      width: 100%;
      padding: 0 44px 20px 44px;
    }
    &-title {
      display: block;
      margin: 0 0 16px 0;
      color: #3e3e3e;
      font-family: Intro, sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-description {
      display: block;
      margin: 0;
      opacity: 0.76;
      color: #3e3e3e;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      font-weight: 400;
      b,
      strong {
        font-weight: 700;
      }
    }
    &-row {
      display: flex;
      align-items: stretch;
      width: 100%;
    }
    &-price {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      min-height: 70px;
      padding: 4px;
      border-radius: 0 0 0 5px;
      background: #ebfdff;
      color: #3e3e3e;
      font-family: Intro, sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
    &-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      min-height: 70px;
      padding: 4px;
      border: 0;
      outline: 0;
      border-radius: 0 0 5px 0;
      background: #0a2345;
      text-shadow: 0 0 24px rgba(0, 234, 255, 0.48);
      color: #00eaff;
      font-family: Intro, sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #00eaff;
        text-shadow: 0 0 24px rgba(0, 234, 255, 0.48);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.h-why {
  display: block;
  padding: 90px 0 35px 0;
  background: url('../images/why_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 60px auto;
    color: #ffffff;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 285px;
    margin-bottom: 60px;
    &-image {
      display: block;
      margin-bottom: 30px;
    }
    &-text {
      display: block;
      margin: 0;
      color: #feffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

.h-tariffs {
  display: block;
  padding: 90px 0 100px 0;
  background: url('../images/tariff_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 28px auto;
    color: #212121;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 auto 45px auto;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  &__card {
    display: inline-flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    min-height: 430px;
    padding: 20px;
    border-radius: 6px;
    background-color: #f8f8f8;
    &-title {
      display: block;
      margin: 0 auto 30px auto;
      color: #212121;
      font-family: Intro, sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.88px;
      text-align: center;
    }
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: 215px;
      margin-bottom: 15px;
      font-size: 13px;
      font-weight: 500;
      color: #6c6c6c;
      b,
      strong {
        color: #212121;
        font-size: 13px;
        font-weight: 500;
      }
    }
    &-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      padding: 16px 36px;
      border-radius: 5px;
      border: 1px solid #aaadb1;
      outline: 0;
      background: transparent;
      color: #525252;
      font-family: Intro, sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #00eaff;
        background: #00eaff;
        text-shadow: 0 0 24px rgba(0, 234, 255, 0.48);
        color: #ffffff;
        text-decoration: none;
      }
    }
    &_left {
      margin-right: -10px;
    }
    &_right {
      margin-left: -10px;
    }
    &_popular {
      min-width: 355px;
      min-height: 485px;
      border-radius: 6px;
      background-color: #ffffff;
      z-index: 1;
      &:after {
        display: block;
        position: absolute;
        content: 'popular';
        top: 20px;
        right: 20px;
        padding: 3px 10px;
        border-radius: 4px;
        background-color: #ffc80a;
        color: #ffffff;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.82px;
        text-align: center;
      }
      .h-tariffs__card-title {
        color: #f9593a;
        font-size: 16px;
        letter-spacing: 3.84px;
      }
      .h-tariffs__card-button {
        border-color: #f9593a;
        background-color: #f9593a;
        color: #ffffff;
        &:hover,
        &:active,
        &:focus {
          border-color: #00eaff;
          background: #00eaff;
          text-shadow: 0 0 24px rgba(0, 234, 255, 0.48);
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.h-gallery {
  display: block;
  padding: 95px 0 70px 0;
  background-color: #f8f8f8;
  &__title {
    display: block;
    margin: 0 auto 60px auto;
    color: #3e3e3e;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    height: 270px;
    margin-bottom: 30px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.h-how {
  display: block;
  padding: 95px 0 0 0;
  background: url('../images/how_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 100px auto;
    color: #ffffff;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 110px;
    &-title {
      display: block;
      margin: 0 0 28px 0;
      color: #ffffff;
      font-family: Intro, sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.8px;
    }
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    &-number {
      display: inline-flex;
      position: relative;
      justify-content: center;
      align-items: center;
      flex: 1 0 33px;
      width: 33px;
      height: 33px;
      margin-right: 18px;
      border-radius: 999rem;
      border: 2px solid #00eaff;
      background-color: #466b9c;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      &_after {
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 2px;
          height: 100%;
          top: 100%;
          left: 49%;
          background-color: #00eaff;
        }
      }
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.h-footer {
  display: flex;
  align-items: stretch;
  &__content {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    padding: 90px 85px 90px 15px;
    background-color: #ffffff;
  }
  &__wrapper {
    display: block;
    width: 100%;
    max-width: 515px;
  }
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #3e3e3e;
    font-family: Intro, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 15px;
      object-fit: contain;
    }
    color: #000000;
    font-size: 18px;
    font-weight: 300;
  }
  &__phone {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #00eaff;
      text-decoration: none;
    }
  }
  &__telegram {
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    img {
      display: inline-block;
      margin-left: 10px;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #00eaff;
      text-decoration: none;
    }
  }
  &__form {
    display: block;
    width: 100%;
    margin-top: 15px;
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
    }
    &-checked {
      display: block;
      margin: 0;
      padding: 2px 0 2px 40px;
      background: url('../images/icon_checked.png') no-repeat left center;
      color: #374101;
      font-size: 14px;
      font-weight: 300;
    }
    &-button {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 14px 36px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #0a2345;
      color: #00eaff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #00eaff;
        color: #ffffff;
        text-decoration: none;
      }
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      margin-bottom: 13px;
      padding: 14px 28px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f3f3f3;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 13px;
      padding: 18px 24px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f3f3f3;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
  #map {
    width: 50%;
  }
}

.h-discount {
  display: block;
  position: relative;
  padding: 98px 0 100px 0;
  background: #fec002 url('../images/form_after.png') no-repeat right center;
  background-size: auto 100%;
  &_girl {
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 725px;
      height: 566px;
      left: 35px;
      bottom: 0;
      background: url('../images/girl_1.png') no-repeat center bottom;
    }
  }
  &__title {
    display: block;
    margin: 0 0 8px 0;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 38px 0;
    color: #374101;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
  }
  &__sended {
    display: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
  }
  &__form {
    display: block;
    width: 100%;
    max-width: 517px;
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
    }
    &-checked {
      display: block;
      margin: 0;
      padding: 2px 0 2px 40px;
      background: url('../images/icon_checked.png') no-repeat left center;
      color: #374101;
      font-size: 14px;
      font-weight: 300;
    }
    &-button {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 14px 36px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f9593a;
      color: #fffffe;
      font-family: Intro, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #00eaff;
        color: #ffffff;
        text-decoration: none;
      }
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      margin-bottom: 13px;
      padding: 14px 28px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.h-gift {
  display: block;
  position: relative;
  padding: 95px 0 100px 0;
  background: #f6d7bb url('../images/form_after.png') no-repeat right center;
  background-size: auto 100%;
  &_girl {
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 590px;
      height: 600px;
      left: 50%;
      bottom: 0;
      background: url('../images/girl_2.png') no-repeat center top;
    }
  }
  &__title {
    display: block;
    margin: 0 0 8px 0;
    color: #454545;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    b,
    strong,
    span {
      color: #f9593a;
    }
  }
  &__text {
    display: block;
    margin: 0 0 38px 0;
    color: #374101;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
  }
  &__sended {
    display: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
  }
  &__form {
    display: block;
    width: 100%;
    max-width: 517px;
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
    }
    &-checked {
      display: block;
      margin: 0;
      padding: 2px 0 2px 40px;
      background: url('../images/icon_checked.png') no-repeat left center;
      color: #374101;
      font-size: 14px;
      font-weight: 300;
    }
    &-button {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 14px 36px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f9593a;
      color: #fffffe;
      font-family: Intro, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #00eaff;
        color: #ffffff;
        text-decoration: none;
      }
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      margin-bottom: 13px;
      padding: 14px 28px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.h-popup {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 710px;
  min-height: 445px;
  margin-left: 285px;
  padding: 50px 85px 60px 240px;
  border-radius: 5px;
  background-color: #0a2345;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 519px;
    height: 519px;
    left: 0;
    margin-left: -285px;
    margin-top: 20px;
    background: url('../images/girl_3.png') no-repeat center;
  }
  &__wrapper {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
  }
  &__centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.8);
  }
  &__content {
    display: block;
  }
  &__sended {
    display: none;
    color: #00eaff;
    font-family: Intro, sans-serif;
    font-size: 25px;
    font-weight: 400;
  }
  &__close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(180deg);
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #00eaff;
    font-family: Intro, sans-serif;
    font-size: 26px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0 0 14px 0;
    opacity: 0.68;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
  }
  &__form {
    display: block;
    width: 100%;
    max-width: 360px;
     ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
     ::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &-checked {
      display: block;
      margin: 0;
      padding: 2px 0 2px 30px;
      background: url('../images/icon_checked_dark.png') no-repeat left center;
      color: #fffffe;
      font-size: 14px;
      font-weight: 300;
    }
    &-button {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 14px 36px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #00eaff;
      color: #0a2345;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #00eaff;
        color: #ffffff;
        text-decoration: none;
      }
    }
    input {
      display: inline-block;
      width: 100%;
      margin-bottom: 13px;
      padding: 14px 28px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: rgba(243, 243, 243, 0.11);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.h-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 28px 0;
  background-color: #0a2345;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__space {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: none;
    padding: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.8);
      text-decoration: none;
    }
  }
  &__logo {
    display: inline-block;
    max-width: 100%;
    text-shadow: 0 0 37px rgba(0, 234, 255, 0.59);
    color: #00eaff;
    font-family: "Intro Rust G - Base 2 Line", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    span:nth-child(1) {
      animation: pulse 12s linear infinite;
    }
    span:nth-child(2) {
      animation: pulse 6s linear infinite;
    }
    span:nth-child(3) {
      animation: pulse 20s linear infinite;
    }
  }
  &__nav {
    display: inline-block;
    a {
      display: inline-block;
      padding: 8px 4px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #00eaff;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    span {
      margin-right: 16px;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #00eaff;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .h-header {
    position: relative;
    padding: 15px 0;
    top: auto;
    left: auto;
  }
  .h-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .h-header__space {
    display: flex;
    width: 100%;
  }
  .h-header__menu {
    display: inline-block;
  }
  .h-header__nav {
    display: none;
    width: 100%;
    padding: 20px 0;
    a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .h-top {
    padding: 0 0 30px 0;
    background-size: cover;
  }
  .h-top__title {
    margin: 40px 0;
    font-size: 32px;
  }
  .h-about {
    padding: 30px 0;
  }
  .h-about__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-about__cards {
    justify-content: space-around;
    margin: 0;
  }
  .h-services {
    padding: 30px 0;
  }
  .h-services__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-services__cards {
    justify-content: space-around;
  }
  .h-services__card-image {
    margin-bottom: 15px;
  }
  .h-catalog {
    padding: 30px 0;
  }
  .h-catalog__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-catalog__cards {
    justify-content: space-around;
  }
  .h-why {
    padding: 30px 0;
  }
  .h-why__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-why__cards {
    justify-content: space-around;
  }
  .h-why__card-image {
    margin-bottom: 15px;
  }
  .h-why__card {
    margin-bottom: 30px;
  }
  .h-tariffs {
    padding: 30px 0;
  }
  .h-tariffs__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-tariffs__text {
    margin-bottom: 20px;
  }
  .h-tariffs__card {
    margin: 0 auto 20px auto !important;
  }
  .h-tariffs__card {
    min-height: 400px;
  }
  .h-tariffs__card_popular {
    min-width: auto;
  }
  .h-tariffs__card_popular:after {
    top: 5px;
    right: 5px;
  }
  .h-gallery {
    padding: 30px 0;
  }
  .h-gallery__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-gallery__cards {
    justify-content: space-around;
  }
  .h-gallery__card {
    max-width: 225px;
    height: 225px;
  }
  .h-discount {
    padding: 30px 0;
    background: #fec002;
  }
  .h-discount__form input {
    max-width: 100%;
  }
  .h-discount_girl:before {
    display: none;
  }
  .h-how {
    padding: 30px 0;
  }
  .h-how__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .h-how__card {
    margin-bottom: 30px;
  }
  .h-gift {
    padding: 30px 0;
    background: #f6d7bb;
  }
  .h-gift_girl:before {
    display: none;
  }
  .h-gift__form input {
    max-width: 100%;
  }
  .h-footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    #map {
      width: 100%;
      min-height: 300px;
    }
  }
  .h-footer__content {
    width: 100%;
  }
  .h-bottom {
    padding: 15px 0;
  }
  .h-bottom>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .h-bottom__space {
    display: flex;
    width: 100%;
  }
  .h-bottom__menu {
    display: inline-block;
  }
  .h-bottom__nav {
    display: none;
    width: 100%;
    padding: 20px 0;
    a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .h-footer__content {
    padding: 30px 15px;
  }
  .h-footer__title {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
  }
  .h-footer__form input {
    max-width: 100%;
  }
  .h-popup:before {
    display: none;
  }
  .h-popup {
    margin: 0;
    padding: 30px 20px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}